body {
    font-family: 'Arial', sans-serif;
    background-color: #ffeef8;
    color: #4a4a4a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

h1 {
    color: #ff69b4;
    font-size: 2.5rem;
}

p {
    font-size: 1.2rem;
    margin: 20px 0;
}

button {
    background-color: #ff69b4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff1493;
}

.mensagem {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #ff1493;
    display: none;
}
